@media screen and (max-width: 1141px) {
  .main {
    .container {
      .main-product {
        margin-right: 10px;
      }
      .main-image {
        width: 600px;
        left: 10%;
      }
    }
  }

  .description {
    .container {
      .row {
        &:last-child {
          .description-text {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .present {
    .container {
      .present-text {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .feedbacks {
    .container {
      .feedback-slider {
        .feedback {
          padding: 25px 10px;
          .person-info {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    .container {
      flex-wrap: wrap;
      justify-content: center;
      .main-title {
        max-width: 100%;
        text-align: center;
        order: 1;
      }
      .main-product {
        order: 3;
      }
      .main-image {
        position: static;
        order: 2;
        width: 545px;
        height: 340px;
        align-self: center;
      }
    }
  }

  .description {
    .container {
      .row {
        flex-direction: column;
        .description-text {
          order: 1;
          margin-bottom: 20px;
        }

        .description-image {
          position: static;
          order: 2;
          margin-bottom: 10px;
        }
        &:first-child {
          .description-image {
            width: 460px;
          }
        }
        &:last-child {
          .description-image {
            width: 460px;
          }
        }
      }
    }
  }

  .present {
    .container {
      .present-text {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  .order {
    .container {
      justify-content: space-between;
    }
  }

  .contacts {
    .container {
      justify-content: space-around;
      .map {
        width: 490px;
      }
    }
  }

  .feedbacks {
    .container {
      .feedback-slider {
        .feedback {
          padding: 25px 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 925px) {
  .order {
    .container {
      flex-direction: column;
      justify-content: center;
      .order-image {
        display: none;
      }
      .order-main {
        order: 2;
        margin-top: 10px;
        .order-title, .order-description {
          text-align: center;
        }
        .order-form {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 875px) {
  .present {
    .container {
      flex-direction: column;
      //justify-content: center;
    }
  }
}

@media (max-width: 830px) {
  .header {
    .container {
      flex-wrap: wrap;
      .menu {
        width: 100%;
        order: 3;
        margin-top: 20px;
        .menu-items {
          justify-content: space-around;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .description {
    .container {
      .row {
        .description-title {
          order: 1;
        }
        .description-text {
          order: 3;
          width: 100%;
        }
        .description-image {
          order: 2;
        }
      }
    }
  }

  .present {
    .container {
      .present-title {
        order: 1;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      .present-text {
        order: 3;
        width: 100%;
      }
      .present-image {
        order: 2;
        margin-bottom: 20px;
      }
    }
  }

  .contacts {
    .container {
      flex-direction: column;
      .map {
        order: 3;
        width: min(490px, 100%);
      }
      .contact-title {
        margin-bottom: 59px;
        line-height: 1;
        text-align: center;
        order: 1;
      }
      .contacts-text {
        .box-mixin();
        padding: 30px;
        order: 2;
        width: min(490px, 100%);
        margin-bottom: 40px;
        .address {
          width: 75%;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
        }
        .phones-container {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin: 45px 0;
          .phones {
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .main {
    .container {
      .main-title {
        font-size: 50px;
        text-align: start;
      }
    }
  }

  .catalog {
    .container {
      .catalog-slider {
        &.slick-slider {
          .show-more-btn {
            width: 100%;
            padding: 19px;
            font-family: Montserrat-Medium, sans-serif;
            font-size: 18px;
            line-height: 1;
          }

        }
      }
    }
  }
  .footer {
    .container {
      .menu {
        width: auto;
        .menu-items {
          grid-template-columns: 1fr;
          text-align: center;
          row-gap: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 476px) {

  .header {
    padding-top: 25px;
    padding-bottom: 24px;
    .container {
      .burger {
        display: block;
      }
      .header-action-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        z-index: 2;
        .header-action {
          position: fixed;
          top: 0;
          right: 0;
          width: 227px;
          border-bottom-left-radius: 10px;
          padding: 34px 15px 20px 15px;
          background-color: white;
          box-sizing: border-box;
          .menu {
            margin-top: 0;
            .menu-items {
              display: block;
              .menu-item {
                display: block;
                margin-bottom: 23px;
                a {
                  text-decoration: none;
                  color: #0a0a0a;
                  font-family: Raleway-Regular, sans-serif;
                  font-size: 14px;
                  padding-bottom: 2px;
                  border-bottom: 1px solid transparent;
                  box-sizing: border-box;
                  &:hover {
                    border-bottom: 1px solid #0a0a0a;
                  }
                }
              }
            }
          }
          .call {
            .btn-mixin();
            font-size: 16px;
            font-family: Monserat-Medium, sans-serif;
            width: 100%;
            line-height: 1;
            padding: 17px;
            margin-top: 30px;
            img {
              display: none;
            }
          }
          .close {
            display: block;
            position: absolute;
            top: 31px;
            right: 20px;

          }
        }
      }
    }
  }

  .phone-order-container {
    .phone-order {
      width: 290px;
      .order-input {
        width: 100%;
      }
      .btn {
        width: 100%;
      }
    }
  }

  .main {
    padding-top: 40px;
    padding-bottom: 44px;
    .container {
      .main-title {
        font-size: 35px;
      }
      .main-image {
        width: 100%;
      }
      .main-product {
        width: 100%;
        .product-title {
          font-size: 20px;
        }
        .product-description {
          font-size: 14px;
        }
        .product-action {
          .new-prise {
            font-size: 20px;
          }
          a {
            font-size: 16px;
          }
          .btn {
            width: 100%;
          }
        }
      }
    }
  }
  .description {
    padding-top: 44px;
    padding-bottom: 44px;
    .container {
      .row {
        .description-title {
          font-size: 30px;
        }
        .description-text {
          padding: 10px 20px 30px 20px;
          width: 100%;
        }
        &:first-child {
          margin-bottom: 88px;
          .description-image {
            width: 100%;
            position: relative;
            top: 35px;
            margin-top: -35px;
          }
        }
        &:last-child {
          .description-image {
            width: 100%;
          }
          .description-text {
            text-align: center;
          }
        }
      }
    }
  }

  .catalog {
    .container {
      padding-top: 44px;
      padding-bottom: 40px;
      .catalog-slider {
        .slider-column {
          margin-bottom: 10px;
          .product {
            margin-bottom: 28px;
            .product-image {
              margin-bottom: 25px;
            }
            .product-title {
              font-size: 18px;
            }
            .product-description {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .present {
    padding-top: 40px;
    padding-bottom: 44px;
    .container {
      .present-image {
        width: 100%;
      }
      .present-text {
        width: 100%;
        font-size: 14px;
        padding: 30px 20px;
      }
    }
  }

  .order {
    padding-top: 44px;
    padding-bottom: 40px;
    .container {
      .order-main {
        .order-form {
          width: 100%;
          .order-data {
            .order-input {
              width: 100%;
            }
          }
          .order-products {
            width: 100%;
          }
          .btn {
            width: 100%;
          }
        }
      }
      .order-gratitude {
        width: 100%;
      }
    }
  }

  .contacts {
    padding-top: 40px;
    padding-bottom: 73px;
    .container {
      .contacts-text {
        padding: 30px;
        .phones-container {
          display: block;
          margin: 0 auto;
          .phones {
            margin: 20px auto;
          }
          .working-hours {
            margin: 0 auto;
          }
        }
      }
    }
  }

  .footer {
    .container {
      flex-direction: column;
      align-items: center;
      & > * {
        width: auto;
      }
      .logo {
        order: 1;
      }
      .menu {
        order: 2;
        margin: 40px 0;
        .menu-items {
          row-gap: 20px;
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(2) {
            order: 4;
          }
          &:nth-child(3) {
            order: 2;
          }
          &:nth-child(4) {
            order: 5;
          }
          &:nth-child(5) {
            order: 3;
          }
        }
      }
      .email {
        order: 3;
        text-decoration: none;
        font-family: Montserrat-Medium, sans-serif;
        font-size: 14px;
        color: #fffefe;
        padding-bottom: 1px;
        border-bottom: 1px solid transparent;
        margin-bottom: 40px;
        &:hover {
          border-bottom: 1px solid #fffefe;
        }
      }
      .networks {
        order: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-bottom: 34px;
        .network {
          .name {
            display: none;
          }
        }
      }
      .rights {
        order: 5;
        font-size: 14px;
        color: #4e1c0e;
      }
    }
  }

}

@import "theme";